/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Usual", sans-serif !important; font-size: 14px; }

h1 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
}

h1:focus {
    border: 2px dotted green;
}

h2#about-heading {
    font-size: 1.7em;
    margin: 20px auto;
}

h2#featured-item-title {
    font-size:26px;
    color: #202e3b;
    padding: 0 0 30px;
    margin: 0 auto;
}
p#featured-item-desc {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

#shopNowBtn {
    color: #202e3b;
    font-size: 1em;
    line-height: 40px !important;
    letter-spacing: 0.5px;
    font-weight: 400;
    background-color: #fff;
    min-width: 110px;
    padding: 0 20px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    outline: none;
    margin: 30px 0 0 0;
    border: solid 1px #202e3b;
}
#shopNowBtn:focus, #shopNowBtn:hover {
    color: #fff;
    background-color: #202e3b;
    cursor: pointer;
}

.quote {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

#bathroom-insider {
    color: #202e3b;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.1em;
    font-size: 26px;
    margin: 24px auto 30px auto;
    font-weight: bolder;
}

.star {
    opacity: 0.7;
}

#the-seat {
    color: #202e3b;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    line-height: 1.5em;
    font-size: 36px;
    margin: 12px auto 18px auto;
    font-weight: bolder;
    font-family: impact !important;
}

.skip-link {
    background: #000;
    color: #fff;
    left: 0;
    padding: .75em;
    position: fixed;
    top: 0;
    transform: translateY(-10em);
    transition: transform .2s ease-in-out;
}
.skip-link:focus {
    transform: translateY(0em);
}


.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: 100;
}

h1:focus {
    outline:none;
}

.head-banner {
    font-size: 1em;
    text-align: center;
    background-color: #202e3b;
    color: #dddddd;
    padding: 15px 40px;
}
#truck-icon {
    width:20px;
    vertical-align: middle;
    margin-right: 10px
}
.head-banner p {
    display: inline-block;
}

/* Navigation */

#js-nav-links {
    font-size: 1.4em; 
    font-weight:400; 
    margin-left: 15%; 
    text-transform: uppercase;
}

.js-nav-link {
    margin: 12px 30px;
    font-size: 1em;
    color: #202e3b;
    padding: 0 12px;
    line-height: 1.0;
}
.js-nav-link:focus, .js-nav-link:hover {
    color: #fff !important;
    background-color: #202e3b !important;
}
.js-nav-link.active {
    border-bottom: 2px solid #202e3b;
}
.js-nav-link.active .current-page::before {
    content: " current page";
}

#cart-link {
    padding: 8px 12px;
}

#cart-link:focus, #cart-link:hover {
    border: 2px solid #202e3b;
    box-sizing: border-box;
    padding: 6px 10px;
}

#home-link:focus, #home-link:hover {
    border: 2px solid #202e3b;
    box-sizing: border-box;
    padding: 6px 10px;
}

.is-active #js-nav-links {
    margin-left: auto !important;
}
.is-active .js-nav-link {
    margin: 0;
}
#cart-link-container {
    padding: 15px;
}
.is-active #cart-link-container {
    padding: 0;
}

#hamburger-button {
    margin-right: 35px 40px 35px 0 !important; 
    border:none;
}

#home-hero-first {
    /* background-image: url('/assets/woman-in-pink-tp.jpg'); */
    background-image: url('/assets/person-in-white-long-sleeve-shirt-tissue-and-vegetable.jpg');
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: 50% 50%; */
}
#home-hero-first .container {
    background-color: rgba(255, 255, 255, 0.678) !important;
    margin-left: 0;
    padding: 10px 30px;
}
.title {
    color: #202e3b !important;
    font-size: 5em !important;
    opacity: 1.0 !important;
}
.subtitle {
    color: #202e3b !important;
    font-size: 2.5em !important;
    opacity: 1.0 !important;
}
.hero-body {
    padding: 11.5rem 1.5rem !important;
}

li .title {
    font-size: 3em !important;
}


/* Filter dropdown */

#select-label {
    font-weight: bold;
    letter-spacing: 0.5px;
}

select {
    font-size: 1.0em;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#applyFilterBtn {
    border: none;
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    font-weight: 400;
    background-color: #202e3b;
    min-width: 70px;
    padding: 0;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    line-height: 24px !important;
    outline:none;
    margin:0;
}

footer {
    background-color: #202e3b;
    color:#fff;
    clear:left;
    padding: 100px 40px;
}

.footer-list {
    color: #fff;
}
.footer-list-header {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 30px;
}
.footer-list a {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 1.65;
    opacity: 80%;
}

#subscribe-header {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 30px;
}
#subscribe-desc {
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 1.65;
    opacity: 80%;
}
#subscribe-input {
    max-width: 250px;
    display: inline-block;
}
#subscribeBtn {
    border: 1px solid #fff;
    margin: 3px 0 0 0;
    color: #fff;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-weight: 600;
    background-color: #202e3b;
    min-width: 120px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

#error-summary-container {
    outline:none;
    border: 1px solid red;
    margin-bottom: 24px;
    display:none;
}

.form-button {
    min-width: 110px;
    padding: 2px 20px;
    line-height: 40px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
/* .form-button:hover, .form-button:focus {
    
} */

#send-form-button {
    color: #ffffff;
    background-color: #202e3b;
    float:right;
}
#send-form-button:focus, #send-form-button:hover {
    border: 2px solid #fff;
    /* background-color: #ffffff;
    color: #202e3b; */
}

#clear-form-button {
    background-color: #ffffff;
    color: #202e3b;
}
#clear-form-button:focus, #clear-form-button:hover {
    border: 2px solid #202e3b;
    /* color: #ffffff;
    background-color: #202e3b; */
}

#contact-heading {
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #202e3b;
    letter-spacing: .5px;
}

#contact-form label {
    padding: 0 0 4px 4px;
}
