/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Usual", sans-serif !important; font-size: 14px; }

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: 100;
}

.head-banner {
    font-size: 1em;
    text-align: center;
    background-color: #202e3b;
    color: #dddddd;
    padding: 15px 40px;
}
#truck-icon {
    width:20px;
    vertical-align: middle;
    margin-right: 10px
}
.head-banner p {
    display: inline-block;
}

/* Navigation */

.js-nav-link {
    margin: 0 30px;
    font-size: 1em;
}

.is-active #js-nav-links {
    margin-left: auto !important;
}
.is-active .js-nav-link {
    margin: 0;
}
#cart-link-container {
    padding: 15px;
}
.is-active #cart-link-container {
    padding: 0;
}

#hamburger-button {
    margin-right: 35px 40px 35px 0 !important; 
    border:none;
}

#home-hero-first {
    background-image: url('/assets/woman-in-pink-tp.jpg');
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: 50% 50%; */
}
#home-hero-first .container {
    background-color: rgba(255, 255, 255, 0.678) !important;
    margin-left: 0;
    padding: 10px 30px;
}
.title {
    color: #202e3b !important;
    font-size: 5em !important;
    opacity: 1.0 !important;
}
.subtitle {
    color: #202e3b !important;
    font-size: 2.5em !important;
    opacity: 1.0 !important;
}
.hero-body {
    padding: 11.5rem 1.5rem !important;
}

li .title {
    font-size: 3em !important;
}


/* Filter dropdown */

#select-label {
    font-weight: bold;
    letter-spacing: 0.5px;
}

select {
    font-size: 1.0em;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#applyFilterBtn {
    border: none;
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    font-weight: 400;
    background-color: #202e3b;
    min-width: 70px;
    padding: 0;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    line-height: 24px !important;
    outline:none;
    margin:0;
}

